@import './variable.scss';
@import './theme.scss';

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
	overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
#MenuBox{
    position: absolute;
    width: auto;
    height: 35px;
    //right: 30px;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        position: relative;
        width: auto;
        height: auto;
        background: none;
        font-family: arial;
        font-size: 13px;
        font-weight: initial;
        color: white;
        border: none;
        border: none;
        padding-bottom: 4px;
        margin-left: 20px;
        text-decoration: none;
        &:hover{
            cursor: pointer;
        }
    }
    a:nth-of-type(1){
        //border-bottom: 2px solid white;
    }
}
#BackLogo{
    position: absolute;
    left: 0px;
    height: 100%;

    display: none;
}
#Logo{
    position: absolute;
    //left: 30px;
    left: 200px;
    width: 110px;
}
.ServicesView{
    position: relative;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background: black;
}
.SlideBox{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        background: black;
        opacity: 50%;
    }
}
#SlideContent{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    z-index: 1000;
	padding-left: 20px;
    span{
        position: relative;
        font-family: arial;
        color: white;
        font-weight: bold;
        font-size: 50px;
        margin: 0px;
        margin-bottom: 0px;
    }
    p{
        position: relative;
        font-family: arial;
        color: white;
        font-weight: initial;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    button{
        position: relative;
        background: white;
        font-family: arial;
        width: 160px;
        height: 40px;
        border: none;
        outline: none;
        color: black;
        font-weight: initial;
        font-size: 15px;
        border-radius: 2px;
        &:hover{
            cursor: pointer;
            background: darken( white , 5% );
        }
        &:active{
            background: none;
            border: 1px solid white;
            color: white;
        }
    }
}
#SlideVideo{
	position: absolute;
	width: 90%;
	z-index: 1000;
	margin-right: 100px;
	border-radius: 2px;
	border: 1px solid rgb(31, 31, 31);
	max-width: 630px;
}
#SlideGrid{
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	z-index: 10;
}
#SlideSideRight{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#SlideSideLeft{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#BottomGrad{
	position: absolute;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	background: linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0) 100%);
	z-index: 1;
	bottom: -2px;
}
#AboutBox{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background: black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 100px;
}
#ProjectsAboutImagesBox{
	position: relative;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	img{
		position: relative;
		height: 200px;
		border-radius: 2px;
		box-sizing: border-box;
	}
}
#AboutHomeContent{
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
	z-index: 1000;
	padding: 30px;
	span{
			position: relative;
			font-family: arial;
			color: white;
			font-weight: bold;
			font-size: 60px;
			margin: 0px;
			margin-bottom: 0px;
	}
	p{
			position: relative;
			font-family: arial;
			color: white;
			font-weight: initial;
			font-size: 20px;
			margin-top: 0px;
	}
}
#CommunityBox{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 50px;
	border-bottom: 1px solid rgb(236, 236, 236);
}
.Wave01{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	top: -2px;
	display: none;
}
#CommunityContent{
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
	z-index: 1000;
	span{
			position: relative;
			font-family: arial;
			color: black;
			font-weight: bold;
			font-size: 61px;
			margin: 0px;
			margin-bottom: 0px;
	}
	p{
			position: relative;
			font-family: arial;
			color: black;
			font-weight: initial;
			font-size: 24px;
			margin-bottom: 15px;
			margin-top: 5px;
	}
	button{
			position: relative;
			background: black;
			font-family: arial;
			width: 160px;
			height: 40px;
			border: none;
			outline: none;
			color: white;
			font-weight: initial;
			font-size: 15px;
			border-radius: 2px;
			&:hover{
					cursor: pointer;
					background: white;
					color: black;
					border: 1px solid black;
			}
			&:active{
					background: none;
					border: 1px dashed black;
					color: black;
			}
	}
}
.GamersIllustration{
	position: relative;
	width: 440px;
	margin: 20px;
}
#ProjectsBox{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: center;
	flex-wrap: wrap;
	padding-bottom: 40px;
	padding-top: 40px;
}
#DemosBox{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	background: rgb(235, 235, 235);
	display: grid;
	grid-template-columns: 1fr 1fr;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 30px;
	iframe{
		padding: 10px;
	}
	div{
		border: $debug-border;
	}
}

#SolutionsInformations{
	position: relative;
	width: 80%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
	margin: 20px;
	span{
		position: relative;
		font-family: arial;
		font-size: 24px;
		font-weight: bold;
		color: rgb(153, 0, 224);
	}
	span:nth-of-type(2){
		font-size: 19px;
		color: black;
		margin-top: 5px;
	}
	p{
		position: relative;
		font-family: arial;
		font-size: 25px;
		font-weight: bold;
		color: black;
		border-left: 5px solid rgb(153, 0, 224);
		padding-left: 10px;
	}
	button{
		position: relative;
		font-family: arial;
		font-size: 17px;
		font-weight: initial;
		color: white;
		background: rgb(153, 0, 224);
		width: 160px;
		height: 40px;
		padding: 5px;
		border: none;
		outline: none;
		margin: 0px;
		border-radius: 3px;
		&:hover{
			cursor: pointer;
			background: darken( rgb(153, 0, 224) , 5% );
		}
		&:active{
			background: none;
			border: 1px solid rgb(153, 0, 224);
			color: rgb(153, 0, 224);
		}
	}
}
#MozartEfect{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 20px;
	background: rgb(75, 75, 75);
}
#SideCopy{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.VulkanIcon{
	position: absolute;
	width: 105px;
	left: 35px;
	border-right: 1px solid white;
	padding-right: 15px;
}
.CopyBox{
	position: absolute;
	left: 180px;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	box-sizing: border-box;
	span{
		position: relative;
		font-family: arial;
		font-size: 10px;
		font-weight: bold;
		color: white;
	}
	span:nth-of-type(2){
		font-weight: initial;
		font-size: 9px;
	}
	span:nth-of-type(3){
		font-weight: initial;
		font-size: 9px;
	}
}
#SideSupport{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	ul{
		position: relative;
		margin-right: 25px;
		li:nth-of-type(1){
			cursor: default;
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
			color: white;
		}
		li{
			position: relative;
			font-family: arial;
			font-size: 13px;
			font-weight: initial;
			color: rgb(194, 194, 194);
			list-style: none;
			margin-bottom: 2px;
			&:hover{
				cursor: pointer;
				color: darken( white , 10% );
			}
		}
	}
}

#MenuButton{
	position: absolute;
	width: 20px;
	right: 50px;
	filter: invert(100);
	display: none;
	&:hover{
		cursor: pointer;	
	}
	
}
#MobileMenu{
	position: fixed;
	right: -220px;
	top: 60px;
	width: 200px;
	height: auto;
	background: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(25px);
	z-index: 2000;
	border-radius: 3px;
	border: 1px solid rgb(58, 58, 58);
	display: none;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
	animation: MobMenu 0.4s linear both;
	a{
		position: relative;
        width: auto;
        height: 30px;
        background: none;
        font-family: arial;
        font-size: 15px;
        font-weight: initial;
        color: white;
        border: none;
        border: none;
        padding-bottom: 4px;
        text-decoration: none;
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 10px;
        &:active{
			background: white;
			color: black;
        }
	}
}
@keyframes MobMenu{
	to{
		right: 10px;
	}
}
#SocialBox{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	.Social{
		position: relative;
		width: 50px;
		height: 50px;
		background: white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px;
		border: 2px solid white;
		img{
			position: absolute;
			width: 23px;
			//background: white;
			//filter: brightness(0) invert(100);
			//transition: filter 0.3s;
		}
		&:hover{
			cursor: pointer;
			//filter: none;
			background: black;
			border: 2px solid white;
			img{
				filter: invert(100);
			}
		}
	}
}
#MobCopy{
	position: absolute;
	bottom: 10px;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: none;
	span{
		position: relative;
		font-family: arial;
		font-size: 10px;
		font-weight: bold;
		color: white;
	}
	span:nth-of-type(2){
		font-weight: 8px;
		font-weight: initial;
	}
}





footer{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	background: black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#PoweredBy{
	position: relative;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	background: rgb(75, 75, 75);
	display: flex;
	justify-content: center;
	align-items: center;
	span{
		position: absolute;
		font-family: arial;
		font-size: 10px;
		font-weight: initial;
		color: white;
		right: 10px;
		a{
			font-family: arial;
			font-size: 14px;
			font-weight: initial;
			color: white;
		}
	}
}

@media only screen and (max-width: 1140px){
	#CommunityContent{
		width: 90%;
		margin-bottom: 50px;
		span{
			font-size: 45px;
		}
	}

}

@media only screen and (max-width: 1100px){
	#SideSupport{
		display: none;
	}
}

@media only screen and (max-width: 1020px){
	.SlideBox{
		img{
			height: 100%;
		}
	}
}

@media only screen and (max-width: 734px){
  	#SideCopy{
	   display: none;
	}
	footer{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#MobCopy{
		display: flex;
		bottom: -40px;
	}
	.PoweredByLabel{
		display: none;
	}
}

@media only screen and (max-width: 760px){
	#SlideGrid{
		grid-template-columns: 1fr 0px;
	}
	#SlideSideLeft{
		display: none;
	}
	
}

@media only screen and (max-width: 900px){
	#MenuButton{
		display: flex;
	}
	#MenuBox{
		display: none;
	}
	#Logo{
		left: 50px;
	}
}

@media only screen and (min-width: 860px){
	#MobileMenu{
		display: none;
	}
}

@media only screen and (max-width: 670px){
	#ProjectsBox{
		grid-template-rows: 1fr 1fr;
	}
}